  /* Estilos para el semáforo */
  .foco {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: lightgray;
    /* Color apagado */
}

.foco.encendido {
    color: white;
    /* Texto blanco para el foco encendido */
}