.Encabezado {
    display: flex;
    justify-content: center;
    background-color: rgb(5, 6, 6);
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    animation: cambio-color 2s infinite;
}

@keyframes cambio-color {
    0% {
        color: #ff0000;
        /* rojo */
    }

    50% {
        color: #00ff00;
        /* verde */
    }

    100% {
        color: #0000ff;
        /* azul */
    }
}

.contenedorImagen {

    display: flex;
    text-align: center;
    background-color: rgb(28, 16, 74);

}

.contenedorTexto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* ajusta el alto del div */
    width: 100vw;
    /* ajusta el ancho del div */

}

.tituloNombre {
    color: blueviolet;
    animation: desplazar 2s forwards;
    position: relative;
  }
  
 


.textoNombre {
    color: rgb(143, 110, 71);
}

.tituloQuien {
    color: blueviolet;
    animation: desplazar 2s forwards;
    position: relative;
}

.textoQuien {
    color: rgb(143, 110, 71);
}

.tituloHobby {
    color: blueviolet;
    animation: desplazar 2s forwards;
    position: relative;
}

.textoHobby {
    color: rgb(143, 110, 71);
}

@keyframes desplazar {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.piePagina {
    background-color: rgb(132, 91, 38);
    text-align: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: auto;
}