* {
    padding: 0;
    margin: 0;
    

.Titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

nav ul {
    background-color: gainsboro;
    width: 100%;
    list-style-type: none;
    text-align: center;

}

nav li {

    display: inline-flex;


}

nav a {
    text-decoration: none;
    color: rgb(69, 65, 65);
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: black;

}

.Kevin {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;

}

.Nadar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;

}

.Contenido {
    display: flex;
    margin: 60px;

}

.Articulo {
    width: 80%;
    border-right: 3px solid black;
}

.Secciones {
    display: flex;
    align-items: center;
}
.Hobby {
    display: flex;
    align-items: center;
}

.Frase{
    text-align: center;
}
.Frase p
{
    padding: 20px;
}
 




.piePagina {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.KevinSecundario
{
    color: aqua;
}

.botonClick{
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    

}



